<!DOCTYPE html>
<html>
<head>
  <title>Shigotodayo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
  html,body {
    height:100%;
  }
  .jumbotron {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
    display:table;
    margin:0;
  .jumbotroncontent {
    display:table-cell;
    vertical-align:middle;
    color: #777;
  }
</style>
<body>
  <div class="jumbotron" style="background-image:url('https://lh3.googleusercontent.com/-BACCS18L-Jo/VPlfWrXIWBI/AAAAAAAAACI/c4lI3R-9Bpg/w2048-h1365-no/IMG_9737.jpg');">
    <div class="jumbotroncontent">
      <h1>GlobalPower<br>Information<br>Services</h1>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Shigotodayo</a>
      </div>
    </div>
  </nav>
  

</body>
</html>
